<div class="game-wrapper" [style.background-image]="'url(' + this.backgroundURL + ')'">
    <div class="start-wrapper" [style.display]="this.gameRunning ? 'none' : 'block'">
        <h1>The Tabletop RPG Visual Novel Experiment</h1>
        <button class="start-button" (click)="this.startGame()">Start</button>
    </div>
    <img class="character left-character" [src]="this.charLeftURL" />
    <img class="character right-character" [src]="this.charRightURL" />
    <div class="dialogue" [style.display]="this.gameRunning ? 'block' : 'none'">
        <p><span class="charName">{{this.currCharacter}}</span> {{this.currDialogue}}</p>
        <button class="previous-button" (click)="this.previousDialogueLine()">&lt;</button>
        <button class="next-button" (click)="this.nextDialogueLine()">&gt;</button>
    </div>
</div>