.charName {
    font-style: italic;
    margin-right: 0.5em;
}
.dialogue {
    position: fixed;
    bottom: 1em;
    left: 25vw;
    right: 25vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    font-family: "Caladea", "serif";
    font-size: 120%;
}
.dialogue p {
    margin-block-start: 0em;
}
.next-button {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.previous-button {
    position: absolute;
    bottom: 1em;
    left: 1em;
}
.start-wrapper {
    text-align: center;
}
.start-button {
    position: absolute;
    margin: auto;
    top: 50%;
}
button {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-family: "Verdana";
    font-size: 85%;
}